# Core functionality - changes here should be rare!
/src/app.py                   @Sumit-5002
/src/backend/database.py      @Sumit-5002
/src/backend/routers/auth.py  @Sumit-5002

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sumit-5002
